#carouselProcesadoresContainer {
  width: fit-content;
  margin: 20px auto;
  width: 1140px;
}
#carouselProcesadoresContainer h2 {
  color: #1C2C40;
  font-weight: 900;
  margin-left: 10px;
  margin-bottom: 5px;
}
#carouselProcesadoresContainer #carouselProcesadores {
  color: white;
  padding: 10px 0;
  background: linear-gradient(#ccc, #fff);
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  position: relative;
}
#carouselProcesadoresContainer #carouselProcesadores #carousel {
  overflow: hidden;
}
#carouselProcesadoresContainer #carouselProcesadores .owl-dots {
  display: none;
}
#carouselProcesadoresContainer #carouselProcesadores .item {
  background-color: #252525;
  height: 250px;
  margin: 0 10px;
  display: grid;
  grid-template-areas: "1" "2" "3" "4";
  text-align: center;
  border-radius: 8px;
}
#carouselProcesadoresContainer #carouselProcesadores .item img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: 0 auto;
  margin-top: 10px;
}
#carouselProcesadoresContainer #carouselProcesadores .item button {
  all: unset;
  background-color: #ffffff;
  color: #000000;
  width: 60px;
  height: 25px;
  font-size: 12px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin: 10px auto;
  transition: all 200ms;
}
#carouselProcesadoresContainer #carouselProcesadores .item button:hover {
  scale: 1.05;
}
#carouselProcesadoresContainer #carouselProcesadores .item button:active {
  scale: 1;
}
#carouselProcesadoresContainer #carouselProcesadores .item h3 {
  margin-top: 5px;
  font-size: 24px;
}
#carouselProcesadoresContainer #carouselProcesadores .item h4 {
  margin: 0 10px;
  font-size: 16px;
  font-weight: 400;
}
#carouselProcesadoresContainer #carouselProcesadores .owl-prev, #carouselProcesadoresContainer #carouselProcesadores .owl-next {
  all: unset;
  background-color: #00a2ff;
  font-size: 12px;
  height: 30px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  position: absolute;
  left: -30px;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  transition: all 200ms;
}
#carouselProcesadoresContainer #carouselProcesadores .owl-prev:hover, #carouselProcesadoresContainer #carouselProcesadores .owl-next:hover {
  scale: 1.05;
}
#carouselProcesadoresContainer #carouselProcesadores .owl-prev:active, #carouselProcesadoresContainer #carouselProcesadores .owl-next:active {
  scale: 1;
}
#carouselProcesadoresContainer #carouselProcesadores .owl-next {
  right: -30px;
  left: auto;
}

@media screen and (max-width: 1240px) {
  #carouselProcesadoresContainer {
    width: 977px;
  }
}
@media screen and (max-width: 1090px) {
  #carouselProcesadoresContainer {
    width: 814px;
  }
}
@media screen and (max-width: 900px) {
  #carouselProcesadoresContainer {
    width: 100vw;
  }
  #carouselProcesadoresContainer .owl-prev, #carouselProcesadoresContainer #carouselProcesadores .owl-next, #carouselProcesadoresContainer .owl-next {
    display: none;
  }
}
@media screen and (max-width: 445px) {
  #carouselProcesadoresContainer {
    margin: 20px 5px;
    width: calc(100vw - 10px);
  }
  #carouselProcesadoresContainer .item {
    margin: 0 5px !important;
    height: 230px !important;
  }
  #carouselProcesadoresContainer .item img {
    width: 90px !important;
    height: 90px !important;
  }
  #carouselProcesadoresContainer .item h3 {
    font-size: 20px !important;
  }
  #carouselProcesadoresContainer .item h4 {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 390px) {
  #carouselProcesadoresContainer .item {
    height: fit-content !important;
  }
  #carouselProcesadoresContainer .item img {
    width: 80px !important;
    height: 80px !important;
  }
  #carouselProcesadoresContainer .item h3 {
    font-size: 18px !important;
    height: fit-content;
    margin-top: 10px !important;
  }
  #carouselProcesadoresContainer .item h4 {
    font-size: 12px !important;
    height: fit-content;
    margin-top: 10px !important;
  }
}