#decorativeCarousel {
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3);
}
#decorativeCarousel #carousel {
  overflow: hidden;
}
#decorativeCarousel .owl-dots {
  display: none;
}
#decorativeCarousel img {
  object-fit: cover;
  image-orientation: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  user-select: none;
}
@media screen and (max-width: 800px) {
  #decorativeCarousel img {
    height: 200px !important;
  }
}