#decorativeCarousel .owl-dots {
  display: none;
}
#decorativeCarousel img {
  object-fit: cover;
  image-orientation: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  user-select: none;
}
@media screen and (max-width: 800px) {
  #decorativeCarousel img {
    height: 200px !important;
  }
}