#decorativeCarousel {
    .owl-dots {
        display: none;
    }

    img {
        object-fit: cover;
        image-orientation: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        user-select: none;
    }

    @media screen and (max-width: 800px) {
        img {
            height: 200px !important;
        }
    }
}