html, body, #root {
    height: 100%;
}

#productContainer {
    height: calc(100% - 160px);
    min-height: 750px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    #item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: calc(100vw - 120px);
        max-width: 950px;
        border: 1px solid #0000003a;
        padding: 20px 40px;
        border-radius: 6px;
        

        img {
            width: 300px;
            height: 300px;
            object-fit: contain;
            background-color: #1a1a1a;
            padding: 25px;
            border-radius: 1.5em;
            user-select: none;
            margin: auto;
        }

        #info {
            text-align: center;
            padding: 30px;
            margin: auto 0;

            ul {
                list-style: none;

                li {
                    font-weight: 400;

                    span, b {
                        font-family: 'Rubik', sans-serif;
                    }

                    b {
                        font-weight: 600;
                    }
                }
            }

            h1 {
                margin-bottom: 10px;
                font-weight: 800;
                font-family: 'Rubik', sans-serif;
            }

            h2 {
                margin-top: 10px;
                font-family: 'Rubik', sans-serif;
            }

            button {
                all: unset;
                margin-top: 10px;
                background-color: black;
                color: white;
                height: 30px;
                width: 110px;
                font-size: 12px;
                border-radius: 6px;
                cursor: pointer;
                transition: all 200ms;
                user-select: none;
            }

            button:hover {
                scale: 1.05;
            }

            button:active {
                scale: 1;
            }
        }
    }

    @media screen and (max-width: 920px) {
        #item {
            grid-template-columns: 1fr;
            padding: 20px;
            width: calc(100vw - 80px);
            min-height: 680px;

            img {
                margin: 0 auto;
            }
        }
    }

    @media screen and (max-width: 560px) {
        #item {
            img {
                width: 250px;
                height: 250px;
            }
        }
    }
}